<div id="hd"><h1>Candidates</h1></div>
<br>
     <div id="bd">
<div id="yui-main">
<div class="yui-b"  style="background:#eee;padding: 5px 5px 5px 5px;">
<div class="yui-g">
  <div class="yui-u first">
    <table class="dataTable">
      <tr><td class="wide" colspan="2">Largest Candidate Totals (Support+Oppose)</td></tr>
      <tr><th>Candidate</th><th style="text-align: right">Total</th></tr>
      <% @expenditures_by_candidate.each do |arr| %>
        <tr>
        <td><%= link_to "#{arr[0].lastname},#{arr[0].firstname}",candidate_path(arr[0]) %></td>
        <td class="amount"><%= number_to_currency(arr[1]) %></td>
        </tr>
      <% end %>
    </table>
  </div>
  <div class="yui-u">
  <h2>Candidate Search</h2>
      <table height="70px">
        <tr "border-style:none"><td style="border-style:none;"><input id="genericSearchBox">  </input> <%= link_to_remote 'Search', :url => {:controller => 'candidate',:action => 'search'},:with => "'name=' + $('genericSearchBox').value",:loading => "Element.toggle('spinner_name_search');",:complete  => "Element.toggle('spinner_name_search');" %><span id="spinner_name_search" style="display:none;"><%=image_tag 'spinner.gif'%></span></td></tr>
        <tr><td><div id="searchResultsDiv"></div>
      </table>
  </div>
</div>
<div class="yui-g">
  <div class="yui-u first">
    <table class="dataTable">
      <tr><td colspan="2" class="wide">Spending by District Histogram (data)</td></tr>
      <tr><th>Amount</th><th>Count</th></tr>
      <% @expenditures_histogram_keys.each do |key| %>
        <tr><td><%= key %></td><td> <%= @expenditures_historgram_data[key] %></td></tr>
      <% end %>        
    </table>
  </div>
  <div class="yui-u">
    <table class="dataTable">
      <tr><td colspan=1 class="wide">Spending by District Histogram (graph)</td><tr>
      <tr><td><%= @expenditures_historgram_chart -%></td></tr>
    </table>  
  </div>  
</div>

<br>